.ProfileMenu {
    list-style: none;
    margin-left: -40px;
    padding: -10px -40px;
}

.ProfileMenu li {
    display: inline-block;
    width: 170px;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 5px 15px;
    background-color: grey;
    border: 1px solid white;
}

.ProfileMenu li:last-child {
    width: 200px;
}
