.ProfileMenu {
    list-style: none;
    margin-left: -40px;
    padding: -10px -40px;
}

.ProfileMenu li {
    display: inline-block;
    width: 10.6rem;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    padding: 0.3rem 0.9rem;
    background-color: grey;
    border: 1px solid white;
}

.ProfileMenu li:last-child {
    width: 12.5rem;
}
