.ProfileContainer {
    display: flex;
}

.ProfileContent {
    padding: 10px 40px;
    flex: 5;
}

.ProfileContent div {
    padding: 10px 0;
}

.ProfileContent h3 {
    margin: 0 10px;
    color: #2E7D32;
    letter-spacing: 1px;
}


