.ProfileContent {
    margin-left: 250px;
    padding: 10px 40px;
}

.ProfileContent div {
    margin: 20px 10px;
}

.ProfileContent h3 {
    margin: 0 10px;
    color: #2E7D32;
    letter-spacing: 1px;
}

.ProfileMenu {
    list-style: none;
    margin-left: -40px;
    padding: -10px -40px;
}

.ProfileMenu li {
    display: inline-block;
    width: 170px;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 5px 15px;
    background-color: grey;
    border: 1px solid white;
}

.ProfileMenu li:last-child {
    width: 200px;
}

.TravelPlans {

}

.TravelPlans div {
    border: 2px solid #bbbbbb;
    background-color: #eeeeee;
}

.TravelPlans div ul {
    padding-top: 10px;
}

.TravelPlans div ul li {
    padding: 5px 0;
}

.Map {
    /*margin: 10px;*/
}

.Map div {
    width: 450px;
    height: 200px;
    background-color: #eeeeee;
    border: 2px solid #bbbbbb;
}

.Albums div {
    height: 160px;
    background-color: #eeeeee;
    border: 2px solid #bbbbbb;
}

.Articles div {
    height: 200px;
    background-color: #eeeeee;
    border: 2px solid #bbbbbb;
}

.Following div {
    height: 200px;
    background-color: #eeeeee;
    border: 2px solid #bbbbbb;
    margin-bottom: 60px;
}