.Toolbar {
    height: 66px;
    width: 100%;
    background-color: green;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 20px;
    display: flex;
    box-sizing: border-box;
    z-index: 90;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px darkslategrey solid;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}