.Logo {
    height: 100%;
    background-color: green;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 80px;
    width: 550px;
    margin-bottom: 1px;
}

.Logo img {
    float: left;
    height: 100%;
}

.Logo h1 {
    position: relative;
    left: 20px;
    padding: 0;
    top: 5px;
    font-family: Jokerman;
    letter-spacing: 16px;
    font-size: 40px;
}
