.LostWorld {
    height: 100%;
    width: 100%;
    text-align: center;
}

.LostWorld img {
    width: 100%;
    filter: brightness(60%);
}

.Carousel {
    margin: 5% 23%;
    display: inline-block;
}