.Submenu {
    position: relative;
    height: 30px;
    margin: auto;
}

.Submenu ul {
    list-style: none;
    position: fixed;
    left: 132px;
}

.Submenu ul li {
    width: 160px;
    float: left;
    line-height: 30px;
    text-align: center;
    border-right: 2px solid gold;
}

.Submenu ul li:hover {
    background: darkgreen;
}

.Submenu ul li a {
    color: white;
    text-decoration: none;
    font-family: Jokerman;
}