.Toolbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: green;
    padding: 0 100px 0 100px;
    border-bottom: 2px solid darkslategrey;
}

.Logo {
    display: inline-block;
    position: relative;
    z-index: 100;
    vertical-align: bottom;
    padding: 3px 0;
}

.Header {
    padding-left: 15px;
    display: inline-block;
    width: calc(100% - 100px);
    position: relative;
}

.Title {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    font-family: Jokerman;
    letter-spacing: 13px;
}

.Title h2 {
    font-size: 2.2rem;
}

.NavItems {
    display: inline-block;
    text-align: right;
    width: calc(100% - 465px);
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}