.Toolbar {
    width: 100%;
    position: fixed;
    background-color: green;
    padding: 0 20px 0 80px;
    border-bottom: 2px solid darkslategrey;
}

.Logo {
    display: inline-block;
    position: relative;
    z-index: 100;
    vertical-align: bottom;
    padding: 3px 0;
}

.Header {
    padding-left: 15px;
    display: inline-block;
    width: calc(100% - 100px);
    position: relative;
}

.Title {
    display: inline-block;
    vertical-align: bottom;
    font-family: Jokerman;
    padding: 0 0 4px 25px;
    letter-spacing: 16px;
}

.NavItems {
    display: inline-block;
    text-align: right;
    width: calc(100% - 460px);
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}