.Toolbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: green;
    padding-left: 100px;
    border-bottom: 2px solid darkslategrey;
}

.Logo {
    display: inline-block;
    position: relative;
    z-index: 100;
    vertical-align: sub;
    padding: 3px 0;
}

.Header {
    padding-left: 15px;
    display: inline-block;
    width: calc(100% - 100px);
    position: relative;
}

.Title {
    display: inline-block;
    /*width: 12.5rem;*/
    vertical-align: top;
    padding-top: 10px;
    font-family: Jokerman;
    text-align: center;
    letter-spacing: 0.625rem;
}

.Title h2 {
    font-size: 1.5rem;
}

.NavItems {
    display: inline-block;
    text-align: right;
    width: calc(100% - 375px);
}

@media (min-width: 57.5rem) {
    .Title {
        width: 23.4rem;
        letter-spacing: 0.82rem;
    }

    .Title h2 {
        font-size: 2.2rem;
    }
}

@media (min-width: 81.5rem) {
    .Logo {
        vertical-align: bottom;
    }
}