.LostWorld {
    /*background-color: #61dafb;*/
    height: 100%;
    width: 100%;
    /*background-image: url("../../assets/images/background.jpg");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.LostWorld img {
    width: 100%;
    filter: brightness(60%);
}

.Carousel {
    max-height: 300px;
    max-width: 800px;
    width: 60%;
    margin: 5% 23%;
    position: fixed;
    display: inline-block;
}