.LostWorld {
    background-color: #61dafb;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/images/background.jpg");
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.LostWorld img {
    width: 100%;
    filter: brightness(60%);
}