.Footer {
    width: 100%;
    padding: 4px;
    background-color: green;
    border-top: 2px solid darkslategrey;
}

.Copyright {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    transform: translateY(15%);
}
