.SocialMedia {
    display: inline-block;
    text-align: left;
    margin-left: 100px;
    width: calc(100%  - 422px);
    vertical-align: middle;
}

.SocialMediaList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.SocialMediaListItem {
    display: inline-block;
    margin: 0 10px;
}

.SocialMediaListItem img {
    height: 30px;
    padding: 0 10px;
    border-radius: 43%;
}