.Sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 700px;
    /*background: linear-gradient(#eeeeee, dimgrey);*/
    /*border-right: 2px solid black;*/
    text-align: center;
    padding: 10px ;
}

.ProfilePhoto {
    height: 200px;
}

.ProfilePhoto img {
    height: 200px;
    border-radius: 100%;
    border: 2px solid darkgreen;
}

.Motto {
    padding: 20px 0;
}

.Motto span {
    font-family: "Berlin Sans FB Demi", cursive;
}

.UserInfo {
    height: 150px;
    border-top: 2px solid black;
}

.Friends {
    border-top: 2px solid black;
    height: 200px;
}
